* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

.resume {
  max-width: 800px;
  margin: auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}



button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}

.hidden {
  display: none;
}

.personal-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.personal-info h1 {
  font-size: 1.8em;
  color: #333;
}

.personal-info p {
  font-size: 1em;
  color: #666;
  margin-top: 5px;
}

.profile-picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #3498db; /* Optional blue border */
}

section {
  margin-bottom: 20px;
  
}

ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  background-color: #ecf0f1;
  padding: 8px;
  margin-bottom: 5px;
  border-radius: 5px;
  color: #333;
}

h1 {
  color: #333;
}

h2 {
  font-size: 1.5em;
  color: #3498db;
  margin-bottom: 10px;
}

p{
  line-height: 25px;
}
