* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.form-section, .resume {
  max-width: 800px;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  color: #3498db;
  margin-bottom: 20px;
}

h3 {
  font-size: 20px;
  color: #3498db;
  margin-bottom: 10px;
}

label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="number"] {
  width: 100%;
  padding: 0.7rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #2980b9; 
}

#edit-btn, #save-btn {
  padding: 10px 20px;
  color: white;
  border: none;
  cursor: pointer;
  margin-bottom: 20px;
}

#edit-btn {
  background-color: #007bff;
}

#save-btn {
  background-color: #28a745;
}

#edit-btn:hover, #save-btn:hover {
  opacity: 0.9;
}

.resume p {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.editable,
.resume p[contenteditable="true"] {
  border: 1px solid #3498db;
  padding: 5px;
  background-color: #f9f9f9;
  outline: none;
}

.skills p {
  font-size: 18px;
  color: #333;
  padding: 10px;
  background-color: #ecf0f1;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}

.skills p:hover {
  background-color: #dbe1e6;
  color: #3498db;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 15px;
}
